@font-face {
    font-family: 'Conv_5x8_lcd_hd44780u_a02';
    src: url('lib/5x8_lcd_hd44780u_a02.eot');
    src: local('☺'), url('lib/5x8_lcd_hd44780u_a02.woff') format('woff'), url('lib/5x8_lcd_hd44780u_a02.ttf') format('truetype'), url('lib/5x8_lcd_hd44780u_a02.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: serif;
    font-size:24px;
    margin: 0 2em;
}

.cite, .cite a {
    color:#999;
}

#fine {
    font-family: Conv_5x8_lcd_hd44780u_a02, monospace;
    text-align:center;
    font-size:72px;
    color: #3C412C;
    background-color: #A8C64E;
    text-shadow: 2px 2px #999;
    padding: 30px 0;
}

h1 {
    font-family: sans-serif;
}

div.photobox {
    max-width:700px;
    margin: 0 auto;
    padding: 1em 0;
    background-color: #eee;
    text-align:center;
}

div.photo img {
    max-width: 662px;
}

div.photocredit {
    font-size:75%;
}

div.twitter-tweet {
    margin: 0 auto;
}

table.timetable {
    margin: 0 auto;
    width: 40em;
    font-family: monospace;
    border: solid #666 1px;
    border-collapse: collapse;
}

table.timetable th, table.timetable tr, table.timetable td {
    border: solid #666 1px;
    padding-right:1em;
    padding-left:1em;
}

td.r {
    text-align: right;
    padding-right:2em;
    padding-left:1em;
}

blockquote.sidebar {
    border-left: solid blue 1px;
    padding-left: 1em;
}